In [2]:
import os
import pandas as pd

In [3]:
os.chdir("C:\\Users\\HP\\Desktop\\code challenges\\datasets")

In [5]:
df = pd.read_csv("gapminder_full.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [7]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [10]:
df['life_exp'].unique()

array([28.801, 30.332, 31.997, ..., 46.809, 39.989, 43.487])

In [11]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.express as px

In [12]:
app = dash.Dash(__name__)

In [22]:
app.layout = html.Div([
    dcc.Graph(
        id='life-expectancy-vs-gdp',
        figure=px.scatter(df, x='gdp_cap', y='life_exp', color='continent',
                          size='population', hover_name='country',
                          log_x=True, size_max=60,
                          title='Life Expectancy vs GDP per Capita (Bubble size = population)')
    )
])

In [30]:
if __name__ == '__main__':
    app.run_server(debug=True, port=8051)